@using ASP_Final.Models
@using ASP_Final.ViewModels

@model DetailsVM
@{
    ViewBag.Title = "Details";
}

@if ((Session["user"] as User).ID == ViewBag.UserID)
{
    <div style="margin-top:20px; margin-bottom:20px;" class="col-md-8">
        @Html.ActionLink("Edit", "EditAds", "Addvertisments", new { id = Model.Advertisment.ID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "Delete","Addvertisments", new { id = Model.Advertisment.ID }, new { @class = "btn btn-danger" })
    </div>

}
<div style="margin-top:40px;" class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <img src="~/Images/Ads/@Model.Advertisment.Image" />
            <h2>@Model.Advertisment.Model.Marka.Markaname  @Model.Advertisment.Model.ModelName</h2>
            <h2 style="color:white;"><span style="font-size:40px;background-color:darkred;">@Model.Advertisment.Price $</span></h2>

            <div class="row">
                <div class="col-md-4">
                    <p>City: <span>@Model.Advertisment.City.Name</span></p>
                    <p>Marka: @Model.Advertisment.Model.Marka.Markaname</p>
                    <p>Model: @Model.Advertisment.Model.ModelName</p>
                    <p>Year: @Model.Advertisment.ProductionYear</p>
                    <p>Color: @Model.Advertisment.Color.Colorname</p>
                    <p>City: @Model.Advertisment.City.Name</p>
                    <p>Capacity: @Model.Advertisment.EngineCapacity.Capacity L</p>
                    <p>Fueltype: @Model.Advertisment.Fueltype.Fueltype1</p>
                    <p>Millage: @Model.Advertisment.Milage Km</p>
                    <p>Speed Box: @Model.Advertisment.SpeedBox.BoxType</p>
                    <p>Price: @Model.Advertisment.Price $</p>
                    <p>You:  @Model.Advertisment.User.Firstname @Model.Advertisment.User.Lastname</p>
                    <p>Email:  @Model.Advertisment.User.Email</p>
                    <p>Phone: @Model.Advertisment.User.Phone</p>

                </div>
                <div class="col-md-4">
                    <h3>General Informations:</h3>
                    <p>@Model.Advertisment.GeneralInfo</p>
                </div>
            </div>
            <h4>
                Releated Advertisments:
            </h4>
            @foreach (var item in Model.RelatedAds)
            {
                <div class="col-md-6">
                    <img style="width:100%;height:100%;object-fit:cover;" src="~/Images/Ads/@item.Image" />
                    <p>@item.Model.Marka.Markaname , @item.Model.ModelName</p>
                    <p style="color:white;background-color:black;">@item.Price $</p>
                    <p><span>Year:@item.ProductionYear.Value.Year</span>  <span>@item.Milage km</span></p>

                    <a style="color:red;" href="@Url.Action("PersonalDetails", "Personal", new { id = item.ID })">Details>>></a>
                </div>
            }
        </div>
        <div style="border:1px solid black" class="col-md-4">
            @Html.Partial("_RightSideBar", Model.ResentNewsVM)
        </div>

    </div>
</div>

